html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(47, 225, 0);
    background-image: linear-gradient(to bottom left, white, gray);
}

p {
    display: flex;
    margin-top: 400px;
    margin-bottom: 400px;
    transition: all 250ms linear 0s;
    justify-content: center;
}

p:hover {
    background-color: black;
    font-size: 15px;
}

body p#message {
    position: absolute;
    top: 340px;
    left: 664px;
    color: rgba(47, 225, 0, 0);
}

body p#message:hover {
    top: 320px;
    color: rgba(47, 225, 0, 1);
}

#bg {
    display: flex;
    position: absolute;
    z-index: -1;
    top: 340px;
    left: 664px;
}